.DS_Store
node_modules/
/screen/
.history
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/public/config/

package-lock.json
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.log
src/utils/workflow_bak.js
/config/index.js
/public/static/dll

pnpm*
gogocodeConfig.js

src/views/test.vue

*.log